* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.95);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content span {
  color: #38bdf8;
}

.small {
  margin-top: 10px;
  font-size: 0.95rem;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #0f172a;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
  text-align: center;
}

.light {
  background: #020617;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

/* EDUCATION */
.edu-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 15px auto;
  max-width: 600px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
